body {
    font-family: Arial;
    background-color: #f4f4f4;
    text-align: center;
}

.container {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.card {
    background: white;
    padding: 15px;
    width: 200px;
    border-radius: 10px;
    box-shadow: 0 0 10px gray;
}

.card img {
    width: 100%;
}
